body{
    font-family:Verdana, sans-serif;
    margin-left:20%;
    width:80%; 
   /* background-image: url(images/sky.jpg);
    background-size: cover;*/
}
h1{
    font-size:60px;
    color:#FF0000;
    padding:50px;
    background-color:pink;
}